{% extends 'base.html.twig'%}

{% block body%}
  <section class="home">
    <div class="row">
      <div class="col-md-12">
        <h1>ALLECINO</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Tous les films à l'affiche</h2>
      </div>
    </div>
  </section>
{% endblock %}
